.teste {
    position: relative;
    transition: all 5s;
}

.teste::before {
    content: '';
    position: absolute;
    top: 100%;
    width: 0%;
    height: 2px;
    background-color: ;
    transition: all .5s;
}

.teste:hover::before {
    width: 100%;
}