@keyframes wiggle {
    to {
        color: #4C872D;
        word-spacing: 30px;
    }

    from {
        color: #68562E;
        word-spacing: 5px;
    }
}

@keyframes members {
    to {
        left: 270px;
    } from {
        left: -500px;
    }
}

@keyframes fade {
    to {
        opacity: 0;
    } from {
        opacity: 1;
    }
}

@keyframes cursor {
    0% {
        transform: translateX(150px) rotate(30deg);
    } 100% {
        transform: translateX(0px) rotate(0deg);
    }
}